#canvas-container {
    width: 800px;
    height: 800px;
    overflow: hidden;
}

body {
    text-align: center;
    margin: 0; /* Supprimez la marge par défaut du corps */
    height: 100vh; /* Utilisez 100% de la hauteur de la vue */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #282c34;
    color: white;
}